.booking-car-container {
  display: flex;
}

.booking-car-content {
  margin: 20px; /* Adjust margin as needed */
  width: 100%;
}

.certification-card {
  justify-content: center;
  align-items: center;
  min-height: 90vh;
  background-color: #f5f5f5; /* Set your desired background color */
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.certification-img {
  border-radius: 8px;
  margin-right: 20px;
}

.certification-details {
  display: inline;
}

/* Updated styles for the list */
.certification-card ul {
  list-style-type: none;
  padding: 0;
  margin-top: 20px;
}

.certification-card li {
  position: relative;
  padding-left: 20px;
  margin-bottom: 10px;
}

.certification-card li::before {
  content: '';
  position: absolute;
  left: -10px;
  top: 5px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: #1890ff; /* Set your desired dot color */
}
